<!DOCTYPE html>
<html lang="en">
<head>
  <title>Donor Duplicates</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/stylesheets/styles.css" />
</head>
<body>
  <header>
    <% if signed_in? && current_user.admin %>
      <a href="/users">All Users</a>
    <% end %>
    <% if signed_in? %>
      <a href="/donors">All Donors</a>
      <a href="/user">My Donors</a>
      <a href="/profile">Profile</a>
      <a href="/signout">Signout</a>
    <% end %>
  </header>
  <main>
    <div id="flash-message">
      <% if session[:error] %>
        <div id="error"><%= session.delete(:error) %></div>
      <% elsif session[:success] %>
        <div id="success"><%= session.delete(:success) %></div>
      <% end %>
    </div>

    <%== yield %>
  </main>
</body>
</html>