<h2>Sign in to your account</h2>

<form action="/signin" method="post">
  <label for="username">Email: </label>
  <input name="username" value="" autofocus><br>
  <label for="password">Password: </label>
  <input type="password" name="password" value=""><br>
  <button type=submit>Sign In</button>
</form>
<br>
<a href="/signup" class="btn-primary">Create Account</a>